<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="duplicateHandling" type="xstring" value="AppendSuffixAutomatic"/>
<entry key="compositionMode" type="xstring" value="MatchAll"/>
<entry key="joinMode" type="xstring" value="InnerJoin"/>
<config key="leftTableJoinPredicate">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
</config>
<config key="rightTableJoinPredicate">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
</config>
<entry key="suffix" type="xstring" value="(*)"/>
<config key="leftIncludeCols">
<entry key="array-size" type="xint" value="208"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="bld_nonres-floorarea_offices[1000m2]"/>
<entry key="3" type="xstring" value="bld_nonres-floorarea_hotels[1000m2]"/>
<entry key="4" type="xstring" value="bld_nonres-floorarea_trade[1000m2]"/>
<entry key="5" type="xstring" value="bld_nonres-floorarea_education[1000m2]"/>
<entry key="6" type="xstring" value="bld_nonres-floorarea_health[1000m2]"/>
<entry key="7" type="xstring" value="bld_nonres-floorarea_other[1000m2]"/>
<entry key="8" type="xstring" value="bld_building-renovation-rate_sfh-exi_1800-2010[%]"/>
<entry key="9" type="xstring" value="bld_building-renovation-rate_mfh-exi_1800-2010[%]"/>
<entry key="10" type="xstring" value="bld_building-renovation-rate_trade-exi_1800-2010[%]"/>
<entry key="11" type="xstring" value="bld_building-renovation-rate_education-exi_1800-2010[%]"/>
<entry key="12" type="xstring" value="bld_building-renovation-rate_hotels-exi_1800-2010[%]"/>
<entry key="13" type="xstring" value="bld_building-renovation-rate_health-exi_1800-2010[%]"/>
<entry key="14" type="xstring" value="bld_building-renovation-rate_offices-exi_1800-2010[%]"/>
<entry key="15" type="xstring" value="bld_building-renovation-rate_other-exi_1800-2010[%]"/>
<entry key="16" type="xstring" value="bld_building-renovation-rate_sfh-shl_1800-2010[%]"/>
<entry key="17" type="xstring" value="bld_building-renovation-rate_sfh-med_1800-2010[%]"/>
<entry key="18" type="xstring" value="bld_building-renovation-rate_sfh-dep_1800-2010[%]"/>
<entry key="19" type="xstring" value="bld_building-renovation-rate_mfh-shl_1800-2010[%]"/>
<entry key="20" type="xstring" value="bld_building-renovation-rate_mfh-med_1800-2010[%]"/>
<entry key="21" type="xstring" value="bld_building-renovation-rate_mfh-dep_1800-2010[%]"/>
<entry key="22" type="xstring" value="bld_building-renovation-rate_offices-shl_1800-2010[%]"/>
<entry key="23" type="xstring" value="bld_building-renovation-rate_offices-med_1800-2010[%]"/>
<entry key="24" type="xstring" value="bld_building-renovation-rate_offices-dep_1800-2010[%]"/>
<entry key="25" type="xstring" value="bld_building-renovation-rate_trade-shl_1800-2010[%]"/>
<entry key="26" type="xstring" value="bld_building-renovation-rate_trade-med_1800-2010[%]"/>
<entry key="27" type="xstring" value="bld_building-renovation-rate_trade-dep_1800-2010[%]"/>
<entry key="28" type="xstring" value="bld_building-renovation-rate_hotels-shl_1800-2010[%]"/>
<entry key="29" type="xstring" value="bld_building-renovation-rate_hotels-med_1800-2010[%]"/>
<entry key="30" type="xstring" value="bld_building-renovation-rate_hotels-dep_1800-2010[%]"/>
<entry key="31" type="xstring" value="bld_building-renovation-rate_health-shl_1800-2010[%]"/>
<entry key="32" type="xstring" value="bld_building-renovation-rate_health-med_1800-2010[%]"/>
<entry key="33" type="xstring" value="bld_building-renovation-rate_health-dep_1800-2010[%]"/>
<entry key="34" type="xstring" value="bld_building-renovation-rate_education-shl_1800-2010[%]"/>
<entry key="35" type="xstring" value="bld_building-renovation-rate_education-med_1800-2010[%]"/>
<entry key="36" type="xstring" value="bld_building-renovation-rate_education-dep_1800-2010[%]"/>
<entry key="37" type="xstring" value="bld_building-renovation-rate_other-shl_1800-2010[%]"/>
<entry key="38" type="xstring" value="bld_building-renovation-rate_other-med_1800-2010[%]"/>
<entry key="39" type="xstring" value="bld_building-renovation-rate_other-dep_1800-2010[%]"/>
<entry key="40" type="xstring" value="bld_building-demolition-rate_sfh-exi_1800-2010[%]"/>
<entry key="41" type="xstring" value="bld_building-demolition-rate_mfh-exi_1800-2010[%]"/>
<entry key="42" type="xstring" value="bld_building-demolition-rate_trade-exi_1800-2010[%]"/>
<entry key="43" type="xstring" value="bld_building-demolition-rate_education-exi_1800-2010[%]"/>
<entry key="44" type="xstring" value="bld_building-demolition-rate_hotels-exi_1800-2010[%]"/>
<entry key="45" type="xstring" value="bld_building-demolition-rate_health-exi_1800-2010[%]"/>
<entry key="46" type="xstring" value="bld_building-demolition-rate_offices-exi_1800-2010[%]"/>
<entry key="47" type="xstring" value="bld_building-demolition-rate_other-exi_1800-2010[%]"/>
<entry key="48" type="xstring" value="bld_building-demolition-rate_sfh-shl_1800-2010[%]"/>
<entry key="49" type="xstring" value="bld_building-demolition-rate_sfh-med_1800-2010[%]"/>
<entry key="50" type="xstring" value="bld_building-demolition-rate_sfh-dep_1800-2010[%]"/>
<entry key="51" type="xstring" value="bld_building-demolition-rate_mfh-shl_1800-2010[%]"/>
<entry key="52" type="xstring" value="bld_building-demolition-rate_mfh-med_1800-2010[%]"/>
<entry key="53" type="xstring" value="bld_building-demolition-rate_mfh-dep_1800-2010[%]"/>
<entry key="54" type="xstring" value="bld_building-demolition-rate_offices-shl_1800-2010[%]"/>
<entry key="55" type="xstring" value="bld_building-demolition-rate_offices-med_1800-2010[%]"/>
<entry key="56" type="xstring" value="bld_building-demolition-rate_offices-dep_1800-2010[%]"/>
<entry key="57" type="xstring" value="bld_building-demolition-rate_trade-shl_1800-2010[%]"/>
<entry key="58" type="xstring" value="bld_building-demolition-rate_trade-med_1800-2010[%]"/>
<entry key="59" type="xstring" value="bld_building-demolition-rate_trade-dep_1800-2010[%]"/>
<entry key="60" type="xstring" value="bld_building-demolition-rate_hotels-shl_1800-2010[%]"/>
<entry key="61" type="xstring" value="bld_building-demolition-rate_hotels-med_1800-2010[%]"/>
<entry key="62" type="xstring" value="bld_building-demolition-rate_hotels-dep_1800-2010[%]"/>
<entry key="63" type="xstring" value="bld_building-demolition-rate_health-shl_1800-2010[%]"/>
<entry key="64" type="xstring" value="bld_building-demolition-rate_health-med_1800-2010[%]"/>
<entry key="65" type="xstring" value="bld_building-demolition-rate_health-dep_1800-2010[%]"/>
<entry key="66" type="xstring" value="bld_building-demolition-rate_education-shl_1800-2010[%]"/>
<entry key="67" type="xstring" value="bld_building-demolition-rate_education-med_1800-2010[%]"/>
<entry key="68" type="xstring" value="bld_building-demolition-rate_education-dep_1800-2010[%]"/>
<entry key="69" type="xstring" value="bld_building-demolition-rate_other-shl_1800-2010[%]"/>
<entry key="70" type="xstring" value="bld_building-demolition-rate_other-med_1800-2010[%]"/>
<entry key="71" type="xstring" value="bld_building-demolition-rate_other-dep_1800-2010[%]"/>
<entry key="72" type="xstring" value="bld_building-renovation-mix_sfh-shl_1800-2010[%]"/>
<entry key="73" type="xstring" value="bld_building-renovation-mix_sfh-med_1800-2010[%]"/>
<entry key="74" type="xstring" value="bld_building-renovation-mix_sfh-dep_1800-2010[%]"/>
<entry key="75" type="xstring" value="bld_building-renovation-mix_mfh-shl_1800-2010[%]"/>
<entry key="76" type="xstring" value="bld_building-renovation-mix_mfh-med_1800-2010[%]"/>
<entry key="77" type="xstring" value="bld_building-renovation-mix_mfh-dep_1800-2010[%]"/>
<entry key="78" type="xstring" value="bld_building-renovation-mix_offices-shl_1800-2010[%]"/>
<entry key="79" type="xstring" value="bld_building-renovation-mix_offices-med_1800-2010[%]"/>
<entry key="80" type="xstring" value="bld_building-renovation-mix_offices-dep_1800-2010[%]"/>
<entry key="81" type="xstring" value="bld_building-renovation-mix_trade-shl_1800-2010[%]"/>
<entry key="82" type="xstring" value="bld_building-renovation-mix_trade-med_1800-2010[%]"/>
<entry key="83" type="xstring" value="bld_building-renovation-mix_trade-dep_1800-2010[%]"/>
<entry key="84" type="xstring" value="bld_building-renovation-mix_hotels-shl_1800-2010[%]"/>
<entry key="85" type="xstring" value="bld_building-renovation-mix_hotels-med_1800-2010[%]"/>
<entry key="86" type="xstring" value="bld_building-renovation-mix_hotels-dep_1800-2010[%]"/>
<entry key="87" type="xstring" value="bld_building-renovation-mix_health-shl_1800-2010[%]"/>
<entry key="88" type="xstring" value="bld_building-renovation-mix_health-med_1800-2010[%]"/>
<entry key="89" type="xstring" value="bld_building-renovation-mix_health-dep_1800-2010[%]"/>
<entry key="90" type="xstring" value="bld_building-renovation-mix_education-shl_1800-2010[%]"/>
<entry key="91" type="xstring" value="bld_building-renovation-mix_education-med_1800-2010[%]"/>
<entry key="92" type="xstring" value="bld_building-renovation-mix_education-dep_1800-2010[%]"/>
<entry key="93" type="xstring" value="bld_building-renovation-mix_other-shl_1800-2010[%]"/>
<entry key="94" type="xstring" value="bld_building-renovation-mix_other-med_1800-2010[%]"/>
<entry key="95" type="xstring" value="bld_building-renovation-mix_other-dep_1800-2010[%]"/>
<entry key="96" type="xstring" value="bld_building-construction-mix_sfh-exi_1800-2010[%]"/>
<entry key="97" type="xstring" value="bld_building-construction-mix_mfh-exi_1800-2010[%]"/>
<entry key="98" type="xstring" value="bld_building-construction-mix_trade-exi_1800-2010[%]"/>
<entry key="99" type="xstring" value="bld_building-construction-mix_education-exi_1800-2010[%]"/>
<entry key="100" type="xstring" value="bld_building-construction-mix_hotels-exi_1800-2010[%]"/>
<entry key="101" type="xstring" value="bld_building-construction-mix_health-exi_1800-2010[%]"/>
<entry key="102" type="xstring" value="bld_building-construction-mix_offices-exi_1800-2010[%]"/>
<entry key="103" type="xstring" value="bld_building-construction-mix_other-exi_1800-2010[%]"/>
<entry key="104" type="xstring" value="bld_building-construction-mix_sfh-shl_1800-2010[%]"/>
<entry key="105" type="xstring" value="bld_building-construction-mix_sfh-med_1800-2010[%]"/>
<entry key="106" type="xstring" value="bld_building-construction-mix_sfh-dep_1800-2010[%]"/>
<entry key="107" type="xstring" value="bld_building-construction-mix_mfh-shl_1800-2010[%]"/>
<entry key="108" type="xstring" value="bld_building-construction-mix_mfh-med_1800-2010[%]"/>
<entry key="109" type="xstring" value="bld_building-construction-mix_mfh-dep_1800-2010[%]"/>
<entry key="110" type="xstring" value="bld_building-construction-mix_offices-shl_1800-2010[%]"/>
<entry key="111" type="xstring" value="bld_building-construction-mix_offices-med_1800-2010[%]"/>
<entry key="112" type="xstring" value="bld_building-construction-mix_offices-dep_1800-2010[%]"/>
<entry key="113" type="xstring" value="bld_building-construction-mix_trade-shl_1800-2010[%]"/>
<entry key="114" type="xstring" value="bld_building-construction-mix_trade-med_1800-2010[%]"/>
<entry key="115" type="xstring" value="bld_building-construction-mix_trade-dep_1800-2010[%]"/>
<entry key="116" type="xstring" value="bld_building-construction-mix_hotels-shl_1800-2010[%]"/>
<entry key="117" type="xstring" value="bld_building-construction-mix_hotels-med_1800-2010[%]"/>
<entry key="118" type="xstring" value="bld_building-construction-mix_hotels-dep_1800-2010[%]"/>
<entry key="119" type="xstring" value="bld_building-construction-mix_health-shl_1800-2010[%]"/>
<entry key="120" type="xstring" value="bld_building-construction-mix_health-med_1800-2010[%]"/>
<entry key="121" type="xstring" value="bld_building-construction-mix_health-dep_1800-2010[%]"/>
<entry key="122" type="xstring" value="bld_building-construction-mix_education-shl_1800-2010[%]"/>
<entry key="123" type="xstring" value="bld_building-construction-mix_education-med_1800-2010[%]"/>
<entry key="124" type="xstring" value="bld_building-construction-mix_education-dep_1800-2010[%]"/>
<entry key="125" type="xstring" value="bld_building-construction-mix_other-shl_1800-2010[%]"/>
<entry key="126" type="xstring" value="bld_building-construction-mix_other-med_1800-2010[%]"/>
<entry key="127" type="xstring" value="bld_building-construction-mix_other-dep_1800-2010[%]"/>
<entry key="128" type="xstring" value="bld_energy-need-per-m2_residential_sfh_1800-2010[kWh/m2 year]"/>
<entry key="129" type="xstring" value="bld_energy-need-per-m2_residential_mfh_1800-2010[kWh/m2 year]"/>
<entry key="130" type="xstring" value="bld_energy-need-per-m2_non-residential_trade_1800-2010[kWh/m2 year]"/>
<entry key="131" type="xstring" value="bld_energy-need-per-m2_non-residential_education_1800-2010[kWh/m2 year]"/>
<entry key="132" type="xstring" value="bld_energy-need-per-m2_non-residential_hotels_1800-2010[kWh/m2 year]"/>
<entry key="133" type="xstring" value="bld_energy-need-per-m2_non-residential_health_1800-2010[kWh/m2 year]"/>
<entry key="134" type="xstring" value="bld_energy-need-per-m2_non-residential_offices_1800-2010[kWh/m2 year]"/>
<entry key="135" type="xstring" value="bld_energy-need-per-m2_non-residential_other_1800-2010[kWh/m2 year]"/>
<entry key="136" type="xstring" value="bld_energy-need-cooling-per-m2_residential_sfh_1800-2010[kWh/m2 year]"/>
<entry key="137" type="xstring" value="bld_energy-need-cooling-per-m2_residential_mfh_1800-2010[kWh/m2 year]"/>
<entry key="138" type="xstring" value="bld_energy-need-cooling-per-m2_non-residential_trade_1800-2010[kWh/m2 year]"/>
<entry key="139" type="xstring" value="bld_energy-need-cooling-per-m2_non-residential_education_1800-2010[kWh/m2 year]"/>
<entry key="140" type="xstring" value="bld_energy-need-cooling-per-m2_non-residential_hotels_1800-2010[kWh/m2 year]"/>
<entry key="141" type="xstring" value="bld_energy-need-cooling-per-m2_non-residential_health_1800-2010[kWh/m2 year]"/>
<entry key="142" type="xstring" value="bld_energy-need-cooling-per-m2_non-residential_offices_1800-2010[kWh/m2 year]"/>
<entry key="143" type="xstring" value="bld_energy-need-cooling-per-m2_non-residential_other_1800-2010[kWh/m2 year]"/>
<entry key="144" type="xstring" value="bld_energy-need-hotwater-per-m2_residential_sfh_1800-2010[kWh/m2 year]"/>
<entry key="145" type="xstring" value="bld_energy-need-hotwater-per-m2_residential_mfh_1800-2010[kWh/m2 year]"/>
<entry key="146" type="xstring" value="bld_energy-need-hotwater-per-m2_non-residential_trade_1800-2010[kWh/m2 year]"/>
<entry key="147" type="xstring" value="bld_energy-need-hotwater-per-m2_non-residential_education_1800-2010[kWh/m2 year]"/>
<entry key="148" type="xstring" value="bld_energy-need-hotwater-per-m2_non-residential_hotels_1800-2010[kWh/m2 year]"/>
<entry key="149" type="xstring" value="bld_energy-need-hotwater-per-m2_non-residential_health_1800-2010[kWh/m2 year]"/>
<entry key="150" type="xstring" value="bld_energy-need-hotwater-per-m2_non-residential_offices_1800-2010[kWh/m2 year]"/>
<entry key="151" type="xstring" value="bld_energy-need-hotwater-per-m2_non-residential_other_1800-2010[kWh/m2 year]"/>
<entry key="152" type="xstring" value="bld_heatcool-technology-fuel_gas-ff-natural[%]"/>
<entry key="153" type="xstring" value="bld_heatcool-technology-fuel_gas-ff-natural-condensing[%]"/>
<entry key="154" type="xstring" value="bld_heatcool-technology-fuel_gas-ff-natural-lowtemp[%]"/>
<entry key="155" type="xstring" value="bld_heatcool-technology-fuel_liquid-ff-heatingoil[%]"/>
<entry key="156" type="xstring" value="bld_heatcool-technology-fuel_solid-ff-coal[%]"/>
<entry key="157" type="xstring" value="bld_heatcool-technology-fuel_electricity[%]"/>
<entry key="158" type="xstring" value="bld_heatcool-technology-fuel_electricity-heatpumps[%]"/>
<entry key="159" type="xstring" value="bld_heatcool-technology-fuel_solid-bio-woodlog[%]"/>
<entry key="160" type="xstring" value="bld_heatcool-technology-fuel_solid-bio-pellets[%]"/>
<entry key="161" type="xstring" value="bld_heatcool-technology-fuel_heat-ambient[%]"/>
<entry key="162" type="xstring" value="bld_heatcool-technology-fuel_heat-solar[%]"/>
<entry key="163" type="xstring" value="bld_heatcool-technology-fuel_heat-geothermal[%]"/>
<entry key="164" type="xstring" value="bld_heat-district-technology-fuel_gas-ff-natural[%]"/>
<entry key="165" type="xstring" value="bld_heat-district-technology-fuel_liquid-ff-heatingoil[%]"/>
<entry key="166" type="xstring" value="bld_heat-district-technology-fuel_solid-ff-coal[%]"/>
<entry key="167" type="xstring" value="bld_heat-district-technology-fuel_solid-bio[%]"/>
<entry key="168" type="xstring" value="bld_heat-district-technology-fuel_heat-ambient[%]"/>
<entry key="169" type="xstring" value="bld_heat-district-technology-fuel_heat-solar[%]"/>
<entry key="170" type="xstring" value="bld_heat-district-technology-fuel_heat-geothermal[%]"/>
<entry key="171" type="xstring" value="bld_district-heating-share_dh[%]"/>
<entry key="172" type="xstring" value="bld_heatcool-efficiency_gas-ff-natural[%]"/>
<entry key="173" type="xstring" value="bld_heatcool-efficiency_gas-ff-natural-condensing[%]"/>
<entry key="174" type="xstring" value="bld_heatcool-efficiency_gas-ff-natural-lowtemp[%]"/>
<entry key="175" type="xstring" value="bld_heatcool-efficiency_liquid-ff-heatingoil[%]"/>
<entry key="176" type="xstring" value="bld_heatcool-efficiency_solid-ff-coal[%]"/>
<entry key="177" type="xstring" value="bld_heatcool-efficiency_electricity[%]"/>
<entry key="178" type="xstring" value="bld_heatcool-efficiency_electricity-heatpumps[%]"/>
<entry key="179" type="xstring" value="bld_heatcool-efficiency_solid-bio-woodlog[%]"/>
<entry key="180" type="xstring" value="bld_heatcool-efficiency_solid-bio-pellets[%]"/>
<entry key="181" type="xstring" value="bld_heatcool-efficiency_heat-ambient[%]"/>
<entry key="182" type="xstring" value="bld_heatcool-efficiency_heat-solar[%]"/>
<entry key="183" type="xstring" value="bld_heatcool-efficiency_heat-geothermal[%]"/>
<entry key="184" type="xstring" value="bld_heat-district-efficiency_gas-ff-natural[%]"/>
<entry key="185" type="xstring" value="bld_heat-district-efficiency_liquid-ff-heatingoil[%]"/>
<entry key="186" type="xstring" value="bld_heat-district-efficiency_solid-ff-coal[%]"/>
<entry key="187" type="xstring" value="bld_heat-district-efficiency_solid-bio[%]"/>
<entry key="188" type="xstring" value="bld_heat-district-efficiency_heat-ambient[%]"/>
<entry key="189" type="xstring" value="bld_heat-district-efficiency_heat-solar[%]"/>
<entry key="190" type="xstring" value="bld_heat-district-efficiency_heat-geothermal[%]"/>
<entry key="191" type="xstring" value="bld_appliance-efficiency_fridge[kWh/h]"/>
<entry key="192" type="xstring" value="bld_appliance-efficiency_freezer[kWh/h]"/>
<entry key="193" type="xstring" value="bld_appliance-efficiency_wmachine[kWh/h]"/>
<entry key="194" type="xstring" value="bld_appliance-efficiency_dishwasher[kWh/h]"/>
<entry key="195" type="xstring" value="bld_appliance-efficiency_dryer[kWh/h]"/>
<entry key="196" type="xstring" value="bld_appliance-efficiency_ac[kWh/h]"/>
<entry key="197" type="xstring" value="bld_appliance-efficiency_tv[kWh/h]"/>
<entry key="198" type="xstring" value="bld_appliance-efficiency_comp[kWh/h]"/>
<entry key="199" type="xstring" value="bld_appliance-efficiency_phone[kWh/h]"/>
<entry key="200" type="xstring" value="bld_building-renovation-mix_sfh-exi_1800-2010[%]"/>
<entry key="201" type="xstring" value="bld_building-renovation-mix_mfh-exi_1800-2010[%]"/>
<entry key="202" type="xstring" value="bld_building-renovation-mix_trade-exi_1800-2010[%]"/>
<entry key="203" type="xstring" value="bld_building-renovation-mix_education-exi_1800-2010[%]"/>
<entry key="204" type="xstring" value="bld_building-renovation-mix_hotels-exi_1800-2010[%]"/>
<entry key="205" type="xstring" value="bld_building-renovation-mix_health-exi_1800-2010[%]"/>
<entry key="206" type="xstring" value="bld_building-renovation-mix_offices-exi_1800-2010[%]"/>
<entry key="207" type="xstring" value="bld_building-renovation-mix_other-exi_1800-2010[%]"/>
</config>
<config key="rightIncludeCols">
<entry key="array-size" type="xint" value="83"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="bld_surface-per-floorarea_wall_sfh[%]"/>
<entry key="2" type="xstring" value="Years"/>
<entry key="3" type="xstring" value="bld_surface-per-floorarea_wall_mfh[%]"/>
<entry key="4" type="xstring" value="bld_surface-per-floorarea_wall_offices[%]"/>
<entry key="5" type="xstring" value="bld_surface-per-floorarea_wall_hotels[%]"/>
<entry key="6" type="xstring" value="bld_surface-per-floorarea_wall_trade[%]"/>
<entry key="7" type="xstring" value="bld_surface-per-floorarea_wall_education[%]"/>
<entry key="8" type="xstring" value="bld_surface-per-floorarea_wall_health[%]"/>
<entry key="9" type="xstring" value="bld_surface-per-floorarea_wall_other[%]"/>
<entry key="10" type="xstring" value="bld_surface-per-floorarea_window_sfh[%]"/>
<entry key="11" type="xstring" value="bld_surface-per-floorarea_window_mfh[%]"/>
<entry key="12" type="xstring" value="bld_surface-per-floorarea_window_offices[%]"/>
<entry key="13" type="xstring" value="bld_surface-per-floorarea_window_hotels[%]"/>
<entry key="14" type="xstring" value="bld_surface-per-floorarea_window_trade[%]"/>
<entry key="15" type="xstring" value="bld_surface-per-floorarea_window_education[%]"/>
<entry key="16" type="xstring" value="bld_surface-per-floorarea_window_health[%]"/>
<entry key="17" type="xstring" value="bld_surface-per-floorarea_window_other[%]"/>
<entry key="18" type="xstring" value="bld_surface-per-floorarea_roof_sfh[%]"/>
<entry key="19" type="xstring" value="bld_surface-per-floorarea_roof_mfh[%]"/>
<entry key="20" type="xstring" value="bld_surface-per-floorarea_roof_offices[%]"/>
<entry key="21" type="xstring" value="bld_surface-per-floorarea_roof_hotels[%]"/>
<entry key="22" type="xstring" value="bld_surface-per-floorarea_roof_trade[%]"/>
<entry key="23" type="xstring" value="bld_surface-per-floorarea_roof_education[%]"/>
<entry key="24" type="xstring" value="bld_surface-per-floorarea_roof_health[%]"/>
<entry key="25" type="xstring" value="bld_surface-per-floorarea_roof_other[%]"/>
<entry key="26" type="xstring" value="bld_conversion-rates_kWh_to_TWh[%]"/>
<entry key="27" type="xstring" value="bld_conversion-rates_g_to_Mt[%]"/>
<entry key="28" type="xstring" value="bld_conversion-rates_gkWh_to_MtTWh[%]"/>
<entry key="29" type="xstring" value="bld_conversion-rates_one[%]"/>
<entry key="30" type="xstring" value="bld_conversion-rates_1000m2_to_Mm2[%]"/>
<entry key="31" type="xstring" value="bld_CO2-factors_solid-ff-coal[gCO2/kWh]"/>
<entry key="32" type="xstring" value="bld_CO2-factors_liquid-ff-heatingoil[gCO2/kWh]"/>
<entry key="33" type="xstring" value="bld_CO2-factors_gas-ff-natural[gCO2/kWh]"/>
<entry key="34" type="xstring" value="bld_CO2-factors_electricity[gCO2/kWh]"/>
<entry key="35" type="xstring" value="bld_CO2-factors_solid-bio-woodlog[gCO2/kWh]"/>
<entry key="36" type="xstring" value="bld_CO2-factors_solid-bio-pellets[gCO2/kWh]"/>
<entry key="37" type="xstring" value="bld_CO2-factors_heat-ambient[gCO2/kWh]"/>
<entry key="38" type="xstring" value="bld_CO2-factors_heat-solar[gCO2/kWh]"/>
<entry key="39" type="xstring" value="bld_CO2-factors_heat-geothermal[gCO2/kWh]"/>
<entry key="40" type="xstring" value="bld_CO2-factors_N2O[gCO2/kWh]"/>
<entry key="41" type="xstring" value="bld_CO2-factors_CH4[gCO2/kWh]"/>
<entry key="42" type="xstring" value="bld_CO2-factors_SO2[gCO2/kWh]"/>
<entry key="43" type="xstring" value="bld_building-mix_sfh_1800-2010[%]"/>
<entry key="44" type="xstring" value="bld_building-mix_mfh_1800-2010[%]"/>
<entry key="45" type="xstring" value="bld_building-mix_trade_1800-2010[%]"/>
<entry key="46" type="xstring" value="bld_building-mix_education_1800-2010[%]"/>
<entry key="47" type="xstring" value="bld_building-mix_hotels_1800-2010[%]"/>
<entry key="48" type="xstring" value="bld_building-mix_health_1800-2010[%]"/>
<entry key="49" type="xstring" value="bld_building-mix_offices_1800-2010[%]"/>
<entry key="50" type="xstring" value="bld_building-mix_other_1800-2010[%]"/>
<entry key="51" type="xstring" value="bld_building-renovation-energy-achieved_sfh-shl_1800-2010[%]"/>
<entry key="52" type="xstring" value="bld_building-renovation-energy-achieved_sfh-med_1800-2010[%]"/>
<entry key="53" type="xstring" value="bld_building-renovation-energy-achieved_sfh-dep_1800-2010[%]"/>
<entry key="54" type="xstring" value="bld_building-renovation-energy-achieved_mfh-shl_1800-2010[%]"/>
<entry key="55" type="xstring" value="bld_building-renovation-energy-achieved_mfh-med_1800-2010[%]"/>
<entry key="56" type="xstring" value="bld_building-renovation-energy-achieved_mfh-dep_1800-2010[%]"/>
<entry key="57" type="xstring" value="bld_building-renovation-energy-achieved_offices-shl_1800-2010[%]"/>
<entry key="58" type="xstring" value="bld_building-renovation-energy-achieved_offices-med_1800-2010[%]"/>
<entry key="59" type="xstring" value="bld_building-renovation-energy-achieved_offices-dep_1800-2010[%]"/>
<entry key="60" type="xstring" value="bld_building-renovation-energy-achieved_trade-shl_1800-2010[%]"/>
<entry key="61" type="xstring" value="bld_building-renovation-energy-achieved_trade-med_1800-2010[%]"/>
<entry key="62" type="xstring" value="bld_building-renovation-energy-achieved_trade-dep_1800-2010[%]"/>
<entry key="63" type="xstring" value="bld_building-renovation-energy-achieved_hotels-shl_1800-2010[%]"/>
<entry key="64" type="xstring" value="bld_building-renovation-energy-achieved_hotels-med_1800-2010[%]"/>
<entry key="65" type="xstring" value="bld_building-renovation-energy-achieved_hotels-dep_1800-2010[%]"/>
<entry key="66" type="xstring" value="bld_building-renovation-energy-achieved_health-shl_1800-2010[%]"/>
<entry key="67" type="xstring" value="bld_building-renovation-energy-achieved_health-med_1800-2010[%]"/>
<entry key="68" type="xstring" value="bld_building-renovation-energy-achieved_health-dep_1800-2010[%]"/>
<entry key="69" type="xstring" value="bld_building-renovation-energy-achieved_education-shl_1800-2010[%]"/>
<entry key="70" type="xstring" value="bld_building-renovation-energy-achieved_education-med_1800-2010[%]"/>
<entry key="71" type="xstring" value="bld_building-renovation-energy-achieved_education-dep_1800-2010[%]"/>
<entry key="72" type="xstring" value="bld_fixed-assumptions_hours[-]"/>
<entry key="73" type="xstring" value="bld_fixed-assumptions_Wattperm2[-]"/>
<entry key="74" type="xstring" value="bld_appliance-lifetime_fridge[a]"/>
<entry key="75" type="xstring" value="bld_appliance-lifetime_freezer[a]"/>
<entry key="76" type="xstring" value="bld_appliance-lifetime_wmachine[a]"/>
<entry key="77" type="xstring" value="bld_appliance-lifetime_dishwasher[a]"/>
<entry key="78" type="xstring" value="bld_appliance-lifetime_dryer[a]"/>
<entry key="79" type="xstring" value="bld_appliance-lifetime_ac[a]"/>
<entry key="80" type="xstring" value="bld_appliance-lifetime_tv[a]"/>
<entry key="81" type="xstring" value="bld_appliance-lifetime_comp[a]"/>
<entry key="82" type="xstring" value="bld_appliance-lifetime_phone[a]"/>
</config>
<entry key="leftIncludeAll" type="xboolean" value="true"/>
<entry key="rightIncludeAll" type="xboolean" value="true"/>
<entry key="rmLeftJoinCols" type="xboolean" value="false"/>
<entry key="rmRightJoinCols" type="xboolean" value="true"/>
<entry key="maxOpenFiles" type="xint" value="200"/>
<entry key="rowKeySeparator" type="xstring" value="_"/>
<entry key="enableHiLite" type="xboolean" value="false"/>
<entry key="numBitsInitial" type="xint" value="6"/>
<entry key="numBitsMaximal" type="xint" value="32"/>
<entry key="usedMemoryThreshold" type="xdouble" value="0.85"/>
<entry key="minAvailableMemory" type="xlong" value="10000000"/>
<entry key="memUseCollectionUsage" type="xboolean" value="true"/>
<entry key="version" type="xstring" value="version_3"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.joiner.Joiner2NodeFactory"/>
<entry key="node-name" type="xstring" value="Joiner"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.0.v201912041211"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.1.0.v201912041824"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Joiner"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
