<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="duplicateHandling" type="xstring" value="AppendSuffixAutomatic"/>
<entry key="compositionMode" type="xstring" value="MatchAll"/>
<entry key="joinMode" type="xstring" value="InnerJoin"/>
<config key="leftTableJoinPredicate">
<entry key="array-size" type="xint" value="3"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="category"/>
</config>
<config key="rightTableJoinPredicate">
<entry key="array-size" type="xint" value="3"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="category"/>
</config>
<entry key="suffix" type="xstring" value="(*)"/>
<config key="leftIncludeCols">
<entry key="array-size" type="xint" value="67"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="category"/>
<entry key="3" type="xstring" value="ots_bld_building-renovation-rate_sfh-exi[%]"/>
<entry key="4" type="xstring" value="ots_bld_building-renovation-rate_mfh-exi[%]"/>
<entry key="5" type="xstring" value="ots_bld_building-renovation-rate_trade-exi[%]"/>
<entry key="6" type="xstring" value="ots_bld_building-renovation-rate_education-exi[%]"/>
<entry key="7" type="xstring" value="ots_bld_building-renovation-rate_hotels-exi[%]"/>
<entry key="8" type="xstring" value="ots_bld_building-renovation-rate_health-exi[%]"/>
<entry key="9" type="xstring" value="ots_bld_building-renovation-rate_offices-exi[%]"/>
<entry key="10" type="xstring" value="ots_bld_building-renovation-rate_other-exi[%]"/>
<entry key="11" type="xstring" value="ots_bld_building-renovation-rate_sfh-shl[%]"/>
<entry key="12" type="xstring" value="ots_bld_building-renovation-rate_sfh-med[%]"/>
<entry key="13" type="xstring" value="ots_bld_building-renovation-rate_sfh-dep[%]"/>
<entry key="14" type="xstring" value="ots_bld_building-renovation-rate_mfh-shl[%]"/>
<entry key="15" type="xstring" value="ots_bld_building-renovation-rate_mfh-med[%]"/>
<entry key="16" type="xstring" value="ots_bld_building-renovation-rate_mfh-dep[%]"/>
<entry key="17" type="xstring" value="ots_bld_building-renovation-rate_offices-shl[%]"/>
<entry key="18" type="xstring" value="ots_bld_building-renovation-rate_offices-med[%]"/>
<entry key="19" type="xstring" value="ots_bld_building-renovation-rate_offices-dep[%]"/>
<entry key="20" type="xstring" value="ots_bld_building-renovation-rate_trade-shl[%]"/>
<entry key="21" type="xstring" value="ots_bld_building-renovation-rate_trade-med[%]"/>
<entry key="22" type="xstring" value="ots_bld_building-renovation-rate_trade-dep[%]"/>
<entry key="23" type="xstring" value="ots_bld_building-renovation-rate_hotels-shl[%]"/>
<entry key="24" type="xstring" value="ots_bld_building-renovation-rate_hotels-med[%]"/>
<entry key="25" type="xstring" value="ots_bld_building-renovation-rate_hotels-dep[%]"/>
<entry key="26" type="xstring" value="ots_bld_building-renovation-rate_health-shl[%]"/>
<entry key="27" type="xstring" value="ots_bld_building-renovation-rate_health-med[%]"/>
<entry key="28" type="xstring" value="ots_bld_building-renovation-rate_health-dep[%]"/>
<entry key="29" type="xstring" value="ots_bld_building-renovation-rate_education-shl[%]"/>
<entry key="30" type="xstring" value="ots_bld_building-renovation-rate_education-med[%]"/>
<entry key="31" type="xstring" value="ots_bld_building-renovation-rate_education-dep[%]"/>
<entry key="32" type="xstring" value="ots_bld_building-renovation-rate_other-shl[%]"/>
<entry key="33" type="xstring" value="ots_bld_building-renovation-rate_other-med[%]"/>
<entry key="34" type="xstring" value="ots_bld_building-renovation-rate_other-dep[%]"/>
<entry key="35" type="xstring" value="ots_bld_building-demolition-rate_sfh-exi[%]"/>
<entry key="36" type="xstring" value="ots_bld_building-demolition-rate_mfh-exi[%]"/>
<entry key="37" type="xstring" value="ots_bld_building-demolition-rate_trade-exi[%]"/>
<entry key="38" type="xstring" value="ots_bld_building-demolition-rate_education-exi[%]"/>
<entry key="39" type="xstring" value="ots_bld_building-demolition-rate_hotels-exi[%]"/>
<entry key="40" type="xstring" value="ots_bld_building-demolition-rate_health-exi[%]"/>
<entry key="41" type="xstring" value="ots_bld_building-demolition-rate_offices-exi[%]"/>
<entry key="42" type="xstring" value="ots_bld_building-demolition-rate_other-exi[%]"/>
<entry key="43" type="xstring" value="ots_bld_building-demolition-rate_sfh-shl[%]"/>
<entry key="44" type="xstring" value="ots_bld_building-demolition-rate_sfh-med[%]"/>
<entry key="45" type="xstring" value="ots_bld_building-demolition-rate_sfh-dep[%]"/>
<entry key="46" type="xstring" value="ots_bld_building-demolition-rate_mfh-shl[%]"/>
<entry key="47" type="xstring" value="ots_bld_building-demolition-rate_mfh-med[%]"/>
<entry key="48" type="xstring" value="ots_bld_building-demolition-rate_mfh-dep[%]"/>
<entry key="49" type="xstring" value="ots_bld_building-demolition-rate_offices-shl[%]"/>
<entry key="50" type="xstring" value="ots_bld_building-demolition-rate_offices-med[%]"/>
<entry key="51" type="xstring" value="ots_bld_building-demolition-rate_offices-dep[%]"/>
<entry key="52" type="xstring" value="ots_bld_building-demolition-rate_trade-shl[%]"/>
<entry key="53" type="xstring" value="ots_bld_building-demolition-rate_trade-med[%]"/>
<entry key="54" type="xstring" value="ots_bld_building-demolition-rate_trade-dep[%]"/>
<entry key="55" type="xstring" value="ots_bld_building-demolition-rate_hotels-shl[%]"/>
<entry key="56" type="xstring" value="ots_bld_building-demolition-rate_hotels-med[%]"/>
<entry key="57" type="xstring" value="ots_bld_building-demolition-rate_hotels-dep[%]"/>
<entry key="58" type="xstring" value="ots_bld_building-demolition-rate_health-shl[%]"/>
<entry key="59" type="xstring" value="ots_bld_building-demolition-rate_health-med[%]"/>
<entry key="60" type="xstring" value="ots_bld_building-demolition-rate_health-dep[%]"/>
<entry key="61" type="xstring" value="ots_bld_building-demolition-rate_education-shl[%]"/>
<entry key="62" type="xstring" value="ots_bld_building-demolition-rate_education-med[%]"/>
<entry key="63" type="xstring" value="ots_bld_building-demolition-rate_education-dep[%]"/>
<entry key="64" type="xstring" value="ots_bld_building-demolition-rate_other-shl[%]"/>
<entry key="65" type="xstring" value="ots_bld_building-demolition-rate_other-med[%]"/>
<entry key="66" type="xstring" value="ots_bld_building-demolition-rate_other-dep[%]"/>
</config>
<config key="rightIncludeCols">
<entry key="array-size" type="xint" value="67"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="category"/>
<entry key="3" type="xstring" value="ots_bld_building-renovation-mix_sfh-shl[%]"/>
<entry key="4" type="xstring" value="ots_bld_building-renovation-mix_sfh-med[%]"/>
<entry key="5" type="xstring" value="ots_bld_building-renovation-mix_sfh-dep[%]"/>
<entry key="6" type="xstring" value="ots_bld_building-renovation-mix_mfh-shl[%]"/>
<entry key="7" type="xstring" value="ots_bld_building-renovation-mix_mfh-med[%]"/>
<entry key="8" type="xstring" value="ots_bld_building-renovation-mix_mfh-dep[%]"/>
<entry key="9" type="xstring" value="ots_bld_building-renovation-mix_offices-shl[%]"/>
<entry key="10" type="xstring" value="ots_bld_building-renovation-mix_offices-med[%]"/>
<entry key="11" type="xstring" value="ots_bld_building-renovation-mix_offices-dep[%]"/>
<entry key="12" type="xstring" value="ots_bld_building-renovation-mix_trade-shl[%]"/>
<entry key="13" type="xstring" value="ots_bld_building-renovation-mix_trade-med[%]"/>
<entry key="14" type="xstring" value="ots_bld_building-renovation-mix_trade-dep[%]"/>
<entry key="15" type="xstring" value="ots_bld_building-renovation-mix_hotels-shl[%]"/>
<entry key="16" type="xstring" value="ots_bld_building-renovation-mix_hotels-med[%]"/>
<entry key="17" type="xstring" value="ots_bld_building-renovation-mix_hotels-dep[%]"/>
<entry key="18" type="xstring" value="ots_bld_building-renovation-mix_health-shl[%]"/>
<entry key="19" type="xstring" value="ots_bld_building-renovation-mix_health-med[%]"/>
<entry key="20" type="xstring" value="ots_bld_building-renovation-mix_health-dep[%]"/>
<entry key="21" type="xstring" value="ots_bld_building-renovation-mix_education-shl[%]"/>
<entry key="22" type="xstring" value="ots_bld_building-renovation-mix_education-med[%]"/>
<entry key="23" type="xstring" value="ots_bld_building-renovation-mix_education-dep[%]"/>
<entry key="24" type="xstring" value="ots_bld_building-renovation-mix_other-shl[%]"/>
<entry key="25" type="xstring" value="ots_bld_building-renovation-mix_other-med[%]"/>
<entry key="26" type="xstring" value="ots_bld_building-renovation-mix_other-dep[%]"/>
<entry key="27" type="xstring" value="ots_bld_building-construction-mix_sfh-exi[%]"/>
<entry key="28" type="xstring" value="ots_bld_building-construction-mix_mfh-exi[%]"/>
<entry key="29" type="xstring" value="ots_bld_building-construction-mix_trade-exi[%]"/>
<entry key="30" type="xstring" value="ots_bld_building-construction-mix_education-exi[%]"/>
<entry key="31" type="xstring" value="ots_bld_building-construction-mix_hotels-exi[%]"/>
<entry key="32" type="xstring" value="ots_bld_building-construction-mix_health-exi[%]"/>
<entry key="33" type="xstring" value="ots_bld_building-construction-mix_offices-exi[%]"/>
<entry key="34" type="xstring" value="ots_bld_building-construction-mix_other-exi[%]"/>
<entry key="35" type="xstring" value="ots_bld_building-construction-mix_sfh-shl[%]"/>
<entry key="36" type="xstring" value="ots_bld_building-construction-mix_sfh-med[%]"/>
<entry key="37" type="xstring" value="ots_bld_building-construction-mix_sfh-dep[%]"/>
<entry key="38" type="xstring" value="ots_bld_building-construction-mix_mfh-shl[%]"/>
<entry key="39" type="xstring" value="ots_bld_building-construction-mix_mfh-med[%]"/>
<entry key="40" type="xstring" value="ots_bld_building-construction-mix_mfh-dep[%]"/>
<entry key="41" type="xstring" value="ots_bld_building-construction-mix_offices-shl[%]"/>
<entry key="42" type="xstring" value="ots_bld_building-construction-mix_offices-med[%]"/>
<entry key="43" type="xstring" value="ots_bld_building-construction-mix_offices-dep[%]"/>
<entry key="44" type="xstring" value="ots_bld_building-construction-mix_trade-shl[%]"/>
<entry key="45" type="xstring" value="ots_bld_building-construction-mix_trade-med[%]"/>
<entry key="46" type="xstring" value="ots_bld_building-construction-mix_trade-dep[%]"/>
<entry key="47" type="xstring" value="ots_bld_building-construction-mix_hotels-shl[%]"/>
<entry key="48" type="xstring" value="ots_bld_building-construction-mix_hotels-med[%]"/>
<entry key="49" type="xstring" value="ots_bld_building-construction-mix_hotels-dep[%]"/>
<entry key="50" type="xstring" value="ots_bld_building-construction-mix_health-shl[%]"/>
<entry key="51" type="xstring" value="ots_bld_building-construction-mix_health-med[%]"/>
<entry key="52" type="xstring" value="ots_bld_building-construction-mix_health-dep[%]"/>
<entry key="53" type="xstring" value="ots_bld_building-construction-mix_education-shl[%]"/>
<entry key="54" type="xstring" value="ots_bld_building-construction-mix_education-med[%]"/>
<entry key="55" type="xstring" value="ots_bld_building-construction-mix_education-dep[%]"/>
<entry key="56" type="xstring" value="ots_bld_building-construction-mix_other-shl[%]"/>
<entry key="57" type="xstring" value="ots_bld_building-construction-mix_other-med[%]"/>
<entry key="58" type="xstring" value="ots_bld_building-construction-mix_other-dep[%]"/>
<entry key="59" type="xstring" value="ots_bld_energy-need-per-m2_residential_sfh[kWh/m2 year]"/>
<entry key="60" type="xstring" value="ots_bld_energy-need-per-m2_residential_mfh[kWh/m2 year]"/>
<entry key="61" type="xstring" value="ots_bld_energy-need-per-m2_non-residential_trade[kWh/m2 year]"/>
<entry key="62" type="xstring" value="ots_bld_energy-need-per-m2_non-residential_education[kWh/m2 year]"/>
<entry key="63" type="xstring" value="ots_bld_energy-need-per-m2_non-residential_hotels[kWh/m2 year]"/>
<entry key="64" type="xstring" value="ots_bld_energy-need-per-m2_non-residential_health[kWh/m2 year]"/>
<entry key="65" type="xstring" value="ots_bld_energy-need-per-m2_non-residential_offices[kWh/m2 year]"/>
<entry key="66" type="xstring" value="ots_bld_energy-need-per-m2_non-residential_other[kWh/m2 year]"/>
</config>
<entry key="leftIncludeAll" type="xboolean" value="true"/>
<entry key="rightIncludeAll" type="xboolean" value="true"/>
<entry key="rmLeftJoinCols" type="xboolean" value="false"/>
<entry key="rmRightJoinCols" type="xboolean" value="true"/>
<entry key="maxOpenFiles" type="xint" value="200"/>
<entry key="rowKeySeparator" type="xstring" value="_"/>
<entry key="enableHiLite" type="xboolean" value="false"/>
<entry key="numBitsInitial" type="xint" value="6"/>
<entry key="numBitsMaximal" type="xint" value="32"/>
<entry key="usedMemoryThreshold" type="xdouble" value="0.85"/>
<entry key="minAvailableMemory" type="xlong" value="10000000"/>
<entry key="memUseCollectionUsage" type="xboolean" value="true"/>
<entry key="version" type="xstring" value="version_3"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value=""/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="1316"/>
<entry key="y-coordinate" type="xint" value="569"/>
<entry key="width" type="xint" value="106"/>
<entry key="height" type="xint" value="15"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.joiner.Joiner2NodeFactory"/>
<entry key="node-name" type="xstring" value="Joiner"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.2.v201904170949"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.2.v201904171038"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Joiner"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
